/* general container */
.gswap_container {
	font-size:10px;
	font-family: arial,sans-serif;
	
	position: absolute;
	top: 10px;
	text-align: center;
	width: 100%;
	
	/* couldn't get this to work within the #canvas_container definition below... 
	so it's just going to apply to the whole page */
	-webkit-user-select: none;
}

.gswap_container table {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

.advanced_controls input {
	width: 20px;
}

/* advanced controls nav */
.gswap_container ul {
	list-style-type:none;
	margin:0;
	padding:0;
	padding-top:6px;
	padding-bottom:6px;
}
.gswap_container li {
	display:inline;
}
.gswap_container #advanced_nav a:link,a:visited {
	font-weight:bold;
	color:#FFFFFF;
	background-color:#000000;
	text-align:center;
	padding:6px;
	text-decoration:none;
	text-transform:uppercase;
}

.gswap_container #advanced_nav a:hover,a:active {
	background-color:#999999;
}

/* debugger */
.debug {
	padding: 10px;
}

.debug_table {
	background-color: white;
	border-collapse: collapse;
	text-align: center;
}	

.debug_table td {
	padding: 3px;
	width: 25px;
}

.debug_table tr:nth-child(even) {
	background-color: #eeeeee;
}

.debug_table td:first-child {
	width: 40px;
}

.debug_table tr:not(:first-child):hover {
	background-color: #ffdddd;
}

.debug_table .label {
	text-align: left;
}	

.debug_table .numeric {
	text-align: right;
}

.debug_table .header {
	font-size: 12px;
	font-style: bold;
}